<app-header></app-header>

<section class="mb-5">
    <div class="container">
        <div class="card receiver-container mt-5">
            <div class="card-body">
                <form [formGroup]="receiverForm" (ngSubmit)="onSubmit()">
                    <div class="title col-xs-6">
                        <h4> {{ this.receiverArray && this.receiverArray.firstName }} {{ this.receiverArray && this.receiverArray.middleName }} {{ this.receiverArray && this.receiverArray.lastName }}</h4>
                    </div>
                    <!-- <p>For your safety, make sure you know your receiver.</p> -->
                    <div class="card" style="height: 8vh;">
                        <select #country [(ngModel)]="this.receiverArray && this.receiverArray.country" style="height: 8vh;" formControlName="country">
                            <option *ngFor="let c of countryName">{{ c.name }}</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div class="rec-info">
                        <!-- <h2>Receiver's personal information</h2> -->
                        <div class="row">
                            <div class="col-md-6 form-floating p-1">
                                <input type="text" class="form-control" id="floating-input" formControlName="firstName" [(ngModel)]="this.receiverArray && this.receiverArray.firstName" style="min-width: 100%; min-height: 8vh;" placeholder="Receiver's First Name">
                                <label class="floating-input">Receiver's First Name</label>
                            </div>
                            <div class="col-md-6 form-floating p-1">
                                <input type="text" class="form-control" id="floating-input" formControlName="lastName" [(ngModel)]="this.receiverArray && this.receiverArray.lastName" style="min-width: 100%; min-height: 8vh;" placeholder="Receiver's Last Name">
                                <label class="floating-input">Receiver's Last Name</label>
                            </div>
                            <div class="col-md-6 form-floating p-1 mt-3" *ngIf="showHideMn">
                                <input type="text" class="form-control" id="floating-input" formControlName="middleName" [(ngModel)]="this.receiverArray && this.receiverArray.middleName" style="min-width: 100%; min-height: 8vh;" placeholder="Receiver's Middle Name(optional)">
                                <label class="floating-input">Receiver's Middle Name(optional)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 form-floating p-1 mt-3">
                            <select name="Type" class="form-control" id="floating-input" [(ngModel)]="this.receiverArray && this.receiverArray.type" id="" style="width: 100%; height: 8vh;" formControlName="type">
                                <!-- <option value="0">Type</option> -->
                                <option value="Mobile">Mobile</option>
                                <option value="Phone">Phone</option>
                            </select>
                            <label for="" class="floating-input">Type</label>
                        </div>
                        <div class="col-md-2 form-floating p-1 mt-3">
                            <select name="Type" class="form-control" id="floating-input" [(ngModel)]="this.receiverArray && this.receiverArray.countryCode" id="" style="width: 100%; height: 8vh;" formControlName="countryCode">
                                <!-- <option value="0">Country Code</option> -->
                                <option value="+91">+91</option>
                                <option value="+12">+12</option>
                            </select>
                            <label for="" class="floating-input">Country Code</label>
                        </div>
                        <div class="col-md-8 form-floating p-1 mt-3">
                            <input type="number" class="form-control" id="floating-input" [(ngModel)]="this.receiverArray && this.receiverArray.phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" style="width: 100%; height: 8vh;">
                            <label for="" class="floating-input">Phone Number</label>
                        </div>
                    </div>
                    <button type="submit" class="save-btn mt-4">
                        Save
                    </button>
                    <!-- <button type="button" class="btn continue-btn btn-outline mt-3">
                        <a routerLink="/receivers" style="color: #07a;">Cancel</a>
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
