.container {
    // border: 2px solid black;
    max-width: 600px;

    .card {
        border-radius: 0;
        color: gray;
        font-size: 18px;
        // box-shadow: 0 0 10px 3px black;

        .card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // cursor: pointer;

            .container {
                border: 2px solid yellow;

                .link {
                    color: #0A7099;
                }
            }

            img {
                // position: absolute;
                height: 50px;
                width: 50px;
                margin-top: 0.4em;
            }

            h5 {
                margin-top: 0.8em;
            }

            .icons {
                // border: 2px solid black;
                display: flex;
                flex-direction: row;
                // margin-left: -500px;
            }

            .details {
                display: flex;
            }

            .delete, .edit {
                // position: absolute;
                color: #0A7099;
                // text-align: center;
                // margin-left: 15px;
                // cursor: pointer;

                button {
                    border: none;
                    background: none;
                    color: #0A7099;
                }
            }

            .vl {
                border-left: 1px solid gray;
                height: 50px;
                // margin-left: 15px;
            }
        }
    }

    .add {
        border: none;
        background-color: #0A7099;
        width: 100%;
        color: white;
        height: 10vh;

        &:hover {
            background-color: #08526f;
        }
    }
}

.show {
    // border: 2px solid yellow;
    border: none !important;
    background: none !important;
    color: #0A7099;
    font-size: 16px;
    // width: 200px;
    margin-top: 0.8em;
}

.details {
    // border: 2px solid yellow;
    display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // margin-left: 4em;
    margin: auto 7em;
}

.no-receiver {
    margin-left: 12em;
}