<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./../../../assets/wu-logo.png" alt="">
                Western Union
            </a>
            <div class="lang">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <span class="nav-link" style="color: white; font-size: 15px">Send Money</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" style="color: white; font-size: 15px">Track Transfer</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" style="color: white; font-size: 15px">Find Locations</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" style="color: white; font-size: 15px">Help</span>
                    </li>
                </ul>
            </div>
            <div class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" style="color: white; margin-top: 0.5em;" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
            <!-- <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">My Receivers</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div> -->
            <div class="logout">
                <button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
