<section>
    <div class="container">
        <div class="p-3 links">
            Home | About us | Contact us | Refer a Friend | Blog | Help | Fraud awareness | Report a security bug | Investor relations | Careers | Western Union Foundation | News | Become an agent | Payment solutions | State licensing | Law enforcement subpoena information | Terms and Conditions | Online Privacy Statement | Sitemap | Cookie Information | Accessibility Statement | How to find your WU tracking number | Send money with confidence
        </div>
        <div style="font-size: 12px; padding: 15px;">
            <p>
                Services may be provided by Western Union Financial Services, Inc. NMLS# 906983 and/or Western Union International Services, LLC NMLS# 906985, which are licensed as Money Transmitters by the New York State Department of Financial Services.  See terms and conditions for details.
            </p>
        </div>
    </div>
</section>
